# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node (nếu có dùng công cụ build/tooling sau này)
node_modules/
npm-debug.log*

# Env / secrets
.env
.env.local
